.SAMLCheckBoxConfigDiv {
  height: 100px;
  width: 100%;
  background: #0000000a;
  position: relative;
  .SAMLCopyButton {
    position: absolute;
    top: 6px;
    right: 16px;
    padding: 0px 3px;
    border: 1px solid transparent;
    border-radius: 6px;
  }
  .SAMLCopyButton:hover {
    background-color: rgba(0, 0, 0, 0.06);
  }
  .SAMLConfigContent {
    height: 100%;
    width: 100%;
    overflow: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 10px;
  }
}
