.main {
  .header {
    display: flex;
    align-items: center;
    padding: 12px;
    .search {
      width: 100%;
    }
    .groupIcon {
      margin-left: 12px;
    }
  }
}
.footer {
  border-top: 1px solid var(--hover-color2);
}
.sessionSelectPopover {
  :global {
    .ant-popover-inner {
      padding: 0 !important;
    }
  }
}

.tree {
  .databaseItem {
    display: flex;
    .textoverflow {
      max-width: 130px !important;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .dataSourceInfo {
      color: var(--icon-color-disable);
      margin-left: 8px;
    }
  }

  :global {
    .ant-tree-treenode {
      width: 100%;
      .ant-tree-switcher {
        margin-inline-end: 0px !important;
      }
    }
    .ant-tree-switcher-noop {
      display: none;
    }
    .ant-tree-node-content-wrapper {
      display: flex;
      display: flex;
      flex-grow: 1;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      .ant-tree-iconEle {
        width: auto;
        min-width: 24px;
      }
      .ant-tree-title {
        flex: 1;
        padding-right: 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
    }

    .ant-badge {
      position: absolute;
      top: 0px;
      right: 4px;
      .ant-badge-status-dot {
        border-radius: 0px;
      }
    }
  }
}
