.disable {
  cursor: not-allowed;
  color: var(--mask-color);
  &:hover {
    cursor: not-allowed;
    color: var(--mask-color);
  }
}
.roleForm {
  :global {
    .ant-form-item-label {
      .ant-form-item-optional {
        display: none;
      }
    }
  }
}
