.disable {
  cursor: not-allowed;
  color: var(--mask-color);
  &:hover {
    cursor: not-allowed;
    color: var(--mask-color);
  }
}

.groupColumn {
  .databaseName {
    :global {
      .ant-table-cell-content {
        display: inline !important;
      }
    }
  }
}

.mr6 {
  margin-right: 6px;
}
