@import (reference) '~@/func.less';
.line {
  display: flex;
  align-items: center;
  height: 32px;
  padding-left: 16px;
  color: var(--text-color-secondary);
}
.content {
  display: flex;
  align-items: center;
  width: 100%;
  .datasourceAndProjectItemBox {
    flex: 1;
    overflow: hidden;
  }
}

.link {
  cursor: pointer;
  &:hover {
    color: var(--text-color-link);
  }
}
.aim {
  padding: 8px 8px;
  color: var(--text-color-secondary);
  &:hover {
    color: var(--text-color-link);
  }
}

.SessionInfo {
  flex: 1;
  overflow: hidden;
  display: flex;
  padding-right: 8px;
  .datasourceAndProjectItemBox {
    padding-left: 8px;
    flex: 1;
    overflow: hidden;
    display: flex;
  }
}

.ellipsis {
  .odc-text-ellipsis();
}

.datasourceAndProjectItem {
  max-width: 100%;
  :global {
    .ant-space-item {
      overflow: hidden;
    }
  }
  .describeItem {
    width: 100%;
    display: flex;
    overflow: hidden;
    > span:nth-child(1) {
      white-space: nowrap;
    }
  }
}
