.formItem {
  margin-bottom: 12px;
  :global(.ant-form-item) {
    margin-bottom: 0px;
  }
}
.collapse {
  :global {
    .ant-collapse-item {
      .ant-collapse-header {
        padding: 4px 12px;
      }
    }
  }
  .descriptions {
    :global {
      .ant-descriptions-row > th,
      .ant-descriptions-row > td {
        padding-bottom: 0px;
      }
    }
  }
}

.modal {
  :global {
    .ant-modal-body {
      padding: 16px;
    }
  }
}

.drawer {
  :global {
    .ant-drawer-body {
      padding: 16px;
    }
  }
}
