.formItem {
  margin-bottom: 12px;

  :global(.ant-form-item) {
    margin-bottom: 0px;
  }
}

.collapse {
  :global {
    .ant-collapse-item {
      .ant-collapse-header {
        padding: 4px 12px;
        background-color: #f5f7fa;
        border-color: #f5f7fa;
      }
    }
  }

  .descriptions {
    :global {
      .ant-descriptions-row > th,
      .ant-descriptions-row > td {
        padding-bottom: 0px;
      }
    }
  }
}

.tooltipContent {
  max-width: 240px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.scanResultPreview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 16px;
  margin-bottom: 8px;
}

.modal {
  :global {
    .ant-modal-body {
      padding: 16px;
    }
  }
}

.drawer {
  :global {
    .ant-drawer-body {
      padding: 16px;
    }
  }
}
