.profileFlow {
  height: 100%;
  overflow-y: auto;
  overflow-x: auto;
  background-color: var(--empty-background-color);
  border: 1px solid #e0e0e0;
  width: calc(100% - 320px);
  // min-width: 960px
}
