.executeSqlModal {
  height: calc(100% - 80px);
  top: 40px;
  padding-bottom: 0;
  :global {
    .ant-modal-content {
      height: 100%;
      .ant-modal-body {
        padding: 18px 16px;
      }
    }
  }
}
