.databaseSelectEmptyhWrapper {
  background-color: transparent;
  padding: 0;
  :global {
    .ant-divider {
      margin: 0;
    }
  }
  .empty {
    display: flex;
    height: 280px;
    margin: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .description {
    font-size: 12px;
    line-height: 20px;
    .title {
      color: #000000d9;
    }
    .subDescription {
      width: 256px;
      color: #00000073;
      .action {
        color: #1890ff;
      }
    }
  }
}
