.editTable {
  border: 1px solid var(--neutral-grey4-color);
}

.thead {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 80px 80px 108px 1fr;
  line-height: 24px;
  background-color: var(--neutral-grey4-color);
  border-bottom: 1px solid var(--neutral-grey4-color);

  .theadCell {
    padding: 0 8px;
    font-weight: 500;
    font-size: 12px;
    background-color: var(--background-primary-color);
  }
}
.row {
  position: relative;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 80px 80px 108px 1fr;
  align-items: center;
  height: 72px;
  background-color: var(--neutral-grey4-color);
  &:not(:last-child)::after {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 1px;
    background-color: var(--neutral-grey4-color);
    content: '';
  }
  .td {
    display: flex;
    height: 100%;
    vertical-align: middle;
    background-color: var(--background-primary-color);
    .content {
      display: inline-flex;
      width: 100%;
      padding: 0 8px;
      line-height: 72px;
    }
  }
  .ruleFormItem {
    width: 100%;
    padding: 4px 8px;
  }
  .typeSelect {
    display: flex;
    padding: 0 8px;
    line-height: 71px;
    vertical-align: middle;
    :global {
      .ant-form-item {
        margin-bottom: 0px;
        line-height: unset;
      }
    }
  }
}
