.main {
  &:global(.ant-card) {
    display: flex;
    flex-direction: column;
    height: 100%;
    :global {
      .ant-card-body {
        flex-grow: 1;
        padding: 10px 8px;
      }
    }
  }
}

.upload {
  &:global(.ant-upload.ant-upload-drag) {
    width: 100%;
    height: 90px;
  }
}
