.segmented {
  :global {
    .ant-segmented-item-selected {
      color: var(--icon-blue-color);
    }
  }
}

.timeSelect {
  :global {
    .ant-select-selector {
      padding: 0px 4px !important;
      width: 100% !important;
    }
    .ant-select-arrow {
      margin-left: 8px;
    }
  }
}

.ml6 {
  margin-left: 6px;
}
