.AnchorContainer {
  flex: 1;
  overflow: auto;
  display: flex;

  .content {
    flex: 1;
  }

  .anchor {
    padding: 6px 16px 12px 12px;
    height: 100%;
    position: sticky;
    right: 0;
    top: 0;
    align-self: flex-start;
    max-width: 200px;
  }
}
