.logicIcon {
  background-color: var(--brand-blue1-color);
  height: 16px;
  width: 16px;
  font-weight: 500;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  .font {
    font-size: 20px;
    transform: scale(0.5);
    color: var(--brand-blue6-color);
  }
}
