.formLabel {
  padding: 4px 0 4px 0;
  font-size: 12px;
  line-height: 1.5715;
}
.infoBlock {
  padding: 12px;
  background: var(--background-primary-color);
  border-radius: 2px;
}

.userModal {
  :global {
    .ant-btn-link {
      padding: 0;
    }
    .ant-drawer-body {
      background: var(--background-primary-color);
    }
    .ant-drawer-footer {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.userInfoModal {
  .infoContent {
    margin-top: 16px;
    padding: 8px 16px;
    background: #f8f9fb;
    :global {
      .ant-descriptions {
        padding: 8px 0;
        .ant-descriptions-item {
          padding-bottom: 2px;
        }
      }
      & .ant-descriptions:not(:last-child) {
        border-bottom: 1px solid var(--default-border-color);
      }
    }
  }
  :global {
    .ant-modal-header {
      padding: 12px 16px;
    }
    .ant-modal-body {
      padding: 16px;
    }
    .ant-modal-close-x {
      line-height: 46px;
    }
  }
}

.noOptional {
  :global {
    .ant-form-item-label > label {
      .ant-form-item-optional {
        display: none;
      }
    }
    .ant-tabs-tab + .ant-tabs-tab {
      margin: 0;
    }
    .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab {
      padding: 0 16px;
      line-height: 28px;
    }
    .ant-tabs-top {
      margin-top: 5px;
      .ant-tabs-ink-bar {
        top: 0;
        bottom: unset;
      }
    }
  }
}
.connectionPopover {
  padding: 0;
  :global {
    .ant-popover-inner {
      padding: 0;
    }
  }
}

.labelName {
  margin-left: -12px;
  padding-left: 12px;
}

.title {
  padding-top: 12px;
}
