.timeSelect {
  :global {
    .ant-select-selector {
      padding: 0px 4px !important;
    }
    .ant-select-arrow {
      margin-left: 8px;
    }
  }
}

.tab {
  :global {
    .ant-radio-button-wrapper {
      height: 26px;
    }
  }
}
