@import (reference) '~@/func.less';

.ellipsis {
  .odc-text-ellipsis();
}
.label {
  color: var(--text-color-hint);
  white-space: nowrap;
  font-weight: normal;
}
.describe {
  display: flex;
}
.content {
  flex: 1;
  font-weight: normal;
  word-break: break-word;
  color: var(--text-color-primary);
}
