.secureSider {
  width: 148px;
  height: 100%;
  padding: 0 12px 12px 0;
  overflow: auto;
  overflow-x: hidden;
  border-right: 1px solid var(--divider-color);
}

.siderItemList {
  padding-top: 6px;
  .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    color: var(--text-color-primary);
    line-height: 28px;
    cursor: pointer;
    &:hover {
      background-color: var(--hover-color);
      .plus {
        display: block;
      }
    }
    &.selected {
      color: var(--text-color-link);
      background-color: var(--brand-blue1-color);
      border-radius: 2px;
    }
  }
}

.envDrawer {
  :global {
    .ant-tabs-nav {
      padding-left: 0px;
    }
    .ant-tabs-tab {
      padding: 4px 12px;
      border: 1px solid #d9d9d9;
      border-radius: 2px 2px 0 0;
    }
    .ant-tabs-tab-active {
      border-bottom-color: #ffffff;
    }
    .ant-tabs-ink-bar {
      background: transparent;
    }
    .ant-tabs-tab + .ant-tabs-tab {
      margin: 0 0 0 4px;
    }
    .ant-tabs-tab:last-of-type {
      background: red;
    }
    .ant-tabs-content {
      padding-top: 12px;
    }
    .ant-tabs-top > .ant-tabs-nav::before {
      // border-color: transparent;
    }
  }
  .envTabs {
    :global {
      .ant-tabs-nav.ant-tabs-nav-wrap.ant-tabs-nav-list.ant-tabs-tab:last-of-type {
        background: red;
      }
    }
  }
}

.env {
  display: flex;
  height: 100%;
  overflow: hidden;
  .sider {
    flex: 0 0 144px;
    height: 100%;
  }
  .content {
    flex-grow: 1;
    flex-shrink: 1;
    width: calc(100% - 148px);
    height: 100%;
    padding-bottom: 12px;
    padding-left: 16px;
  }
}
